<div class="panel panel-default" *ngIf="personLoggedIn">
  
  <div class="panel-body">          

          <div class="row">
              <div class="col-xs-6">
                  {{personLoggedIn.displayName}}
              </div>

              <div class="col-xs-2">
                  <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;" (click)="onSignOut()">Sign out</a></li>                        
                      </ul>
                    </div>
                  <!--<button class="btn btn-primary" (click)="onSignOut()">Sign out</button>-->
                  <!--<img [src]="iconPaths['logoutImg']" (click)="onSignOut()" title="Sign out"/> -->
              </div>
              <div class="col-xs-4">
                  <app-presence-select [selectedValue]="currentPresence" (select)="onPresenceSelect($event)"></app-presence-select>
              
              </div>
              
          </div>                                   

  </div>         
       
</div>  

<div class="panel panel-default" *ngIf="!personLoggedIn">
    <div class="panel-body">
      
      <div>
          <div class="form-group">
            <label for="txtUserName">Username</label>
            <input id="txtUserName" type="text" #userName class="form-control" placeholder="Username"/>     
          </div>
          <div class="form-group">
            <label for="txtPassword">Password</label>
            <input id="txtPassword" type="password" #password class="form-control" placeholder="password"/>
          </div>
          <button class="btn btn-primary pull-right col-xs-12" (click)="onSignIn(userName.value,password.value)">Sign in</button>      
      </div>  
     
    </div>  
</div>

