<div class="panel panel-default">
    <div class="panel-body" *ngIf="isOutboundCallAvailable" >
        <div class="row" >
            <div class="col-md-10">
                <input type="text" [(ngModel)]="digits" class="form-control">
            </div>        
            <div class="col-md-2">                
                <img [src]="iconPaths['dialImg']" (click)="startOutBoundCall()" title="Dial"/>
            </div>             
        </div>    
        
        <div class="row" style="margin-top: 10px;">                 
            <div class="col-md-offset-1 col-md-10" >
              <button class="dtmfMenuItem btn btn-default" *ngFor="let menuItem of dtmfMenuItems"
              (click)="onToneClick(menuItem)">{{menuItem}} 
            </button>
          </div>
        </div>  
    </div>
</div>

