.dtmfMenuItem{
    float: left;
    width: 40px;
    height: 30px;
    /* border:solid darkgreen 1px; */
    /* text-align: center; */
    /* line-height: 40px; */
    margin-right: 10px;
    margin-bottom: 10px;
    color:green;
    /* background-color:lightyellow; */
    /* cursor: pointer; */
}

/* .panel-body{
    width: 50%;
    margin: 0 auto;
} */
.dtmfMenuContainer
{
   /*  width:50;
    margin: 0 auto; */
}

.dtmfMenuHeader
{
    /* width: 50%;
    margin: 0 auto; */
}

.floatLeft{
    /* float: left; */
    display: inline-block;
    margin-left: 20px;
}
img{
    width: 34px;
    cursor: pointer;    
}

.outer{
    position:relative;    
}
.inner{
    position:absolute;
    top:0px;
    height:0px;
    width:100%;
    height: 100%;
    z-index: 10;
    background-color:purple;
    opacity: 0;
    transition: opacity .5s;
}

.inner > p{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: blueviolet;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }