<div class="panel panel-default" *ngIf="isOutboundCallAvailable" >
  <!--<div class="panel-heading">DTMF Menu</div>-->
  <div class="panel-body">
    <div class="dtmfMenuHeader row" >
        <div class="col-sd-9">
            <input type="text" [(ngModel)]="digits" class="form-control">
        </div>        
        <div class="col-sd-3">
            <button class="btn btn-primary" (click)="startOutBoundCall()">Call</button>
        </div>                
    </div>    
    <br>
    <div class="dtmfMenuContainer">                 
      <button class="dtmfMenuItem btn btn-success" *ngFor="let menuItem of dtmfMenuItems"
        (click)="onToneClick(menuItem)">{{menuItem}}
    </button>
    </div>
  </div>
</div>