<div class="outer">
<div class="panel panel-default">
    <!-- <div class="panel-body" *ngIf="isOutboundCallAvailable" > -->
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <input class="form-control" type="text" [(ngModel)]="digits" placeholder="Dial a phone number">
                    <span class="input-group-addon">
                        <img [src]="iconPaths['dialImg']" 
                        style="width:20px;"
                        (click)="startOutBoundCall()" title="Dial" />
                    </span>
                </div>        
            </div>
        
        </div>
        <div class="row" style="margin-top: 10px;">                 
            <div class="col-xs-offset-1 col-xs-10" >
              <button class="dtmfMenuItem btn btn-default" *ngFor="let menuItem of dtmfMenuItems"
              (click)="onToneClick(menuItem)">{{menuItem}} 
            </button>
          </div>
        </div>  
    </div>
</div>
<div *ngIf="!isOutboundCallAvailable" class="inner"><p>Calling...</p></div>
</div>

