<!--<app-dynamics-last-activity-update></app-dynamics-last-activity-update>-->

<div class="panel panel-default">
  <div class="panel-heading">
    Activities 
    <a style="cursor:pointer;" class="glyphicon glyphicon-menu-left"  (click)="goPrevious()"></a>
    <a style="cursor:pointer;" class="glyphicon glyphicon-menu-right" (click)="goNext()"></a>    
    <img class="refresh-icon pull-right" [src]="iconPaths['refreshImg']" (click)="loadActivities()" title="Reload Activities"/>
    <br>
    (Displaying page {{pageIndex+1}} of {{pageCount}} pages)
  </div>
  <div class="panel-body">
      <div class="list-group">
          <a  class="list-group-item" 
          *ngFor="let activity of activities" 
          title="{{activity.subject}}">
            <div class="row">
              <div class="col-xs-2"><img class="direction-img" [src] ="activityDirectionImgPath(activity)"/></div>
              <div class="col-xs-10">
                  {{activity.phonenumber}}
                  <img *ngIf="!isActiveCallPresent" style="cursor: pointer;" [src]="iconPaths['dialImg']" (click)="startOutBoundCall(activity.phonenumber)" title="Dial"/>
              </div>
            </div>
            <div class="row">
              <a style="cursor: pointer;" title="open activity" class="col-offset-xs-2 col-xs-10" (click)="openActivity(activity.activityid)">
                {{activity.createdon | date:'medium'}}                  
              </a>
            </div>           
          </a>
        </div>
  </div>
</div>



