<app-dynamics-last-activity-update></app-dynamics-last-activity-update>
<br/>
<button class="btn btn-primary" (click)="loadActivities()">Load Activities</button>

<div class="list-group">
  <a style="cursor: pointer;" class="list-group-item" 
  *ngFor="let activity of activities" (click)="openActivity(activity.activityid)"
  title="{{activity.subject}}">
    <div class="row">
      <div class="col-xs-2"><img class="direction-img" [src] ="activityDirectionImgPath(activity)"/></div>
      <div class="col-xs-10">{{activity.phonenumber}}</div>
    </div>
    <div class="row">
      <div class="col-offset-xs-2 col-xs-10">{{activity.createdon | date:'medium'}}</div>
    </div>           
  </a>
</div>

