<div class="dropdown" style="min-width: 50px;">
    <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <img [src]="selectedImagePath" [title]="selectedText"/> 
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li *ngFor="let item of items">
        <div class="btn" (click)="onSelected(item.value)"><img [src]="item.imagePath"/>{{item.text}}</div>
      </li>     
    </ul>
</div>