<div class="container" style="max-width:350px;">
  <div class="row">  
    <div class="col-sd-12">
        <app-login-view [personLoggedIn]="personLoggedIn"></app-login-view>
    </div>    
  </div>
  <div *ngIf="userSignedIn==true">
    <div class="row">
      <div class="col-sd-12">                                
          <app-dynamics-call-view></app-dynamics-call-view>   
          <app-outbound-call-view></app-outbound-call-view>                             
      </div>
    </div>   
  </div>
</div>
