<div class="container" style="max-width:350px;margin-top: 20px;">
  <div class="row">  
    <div class="col-md-12">
        <app-login-view [personLoggedIn]="personLoggedIn"></app-login-view>
    </div>    
  </div>
  <div *ngIf="userSignedIn==true">
    <div class="row">
      <div class="col-md-12">                                
          <app-dynamics-call-view></app-dynamics-call-view>   
          <app-dynamics-outbound-call-view></app-dynamics-outbound-call-view>   
          <img [src]="iconPaths['dialpadImg']" (click)="onDialpadClick()" title="Outbound call">
          <app-dtmf-menu *ngIf="dialpadIsOpen" (outboundCallStarted)="onOutboundCallStarted()"></app-dtmf-menu>                                  
          <app-dynamics-contact-search></app-dynamics-contact-search>
      </div>
    </div>   
  </div>
</div>


 